<table class="table table-hover">
    <tr>
        <td>
            Title : <a href="{{ url_for('item', title=item.title) }}">{{ item.title }}</a>
            <br>
            Author : <a href="{{ url_for('author', author=item.author) }}">{{ item.author }}</a>
            <br>
            Type : {{ item.itemType }}
        </td>
        <td>
            {% if item.not_borrowable %}
                <div align="right">
                    <button disabled="true" style="color: lightgray">Not borrowable</button>
                </div>
            {% elif current_user.username == 'admin' or current_user.is_anonymous %}
                {% if item.is_available() %}
                    <div align="right">
                        <button disabled="true" style="background-color: lightgreen">Available</button>
                    </div>
                {% else %}
                    <div align="right">
                        <button disabled="true" style="color: lightgray">Borrowed</button>
                    </div>
                {% endif %}
            {% elif not current_user.sub_available() or current_user.excluded_until %}
                {% if item.is_available() %}
                    <div align="right">
                        <button disabled="true" style="color: lightgray">Borrow</button>
                        <p>Subscribe again to borrow.</p>
                    </div>
                {% else %}
                    <div align="right">
                        <button disabled="true" style="color: lightgray">Borrowed</button>
                    </div>
                {% endif %}
            {% elif not item.is_available() %}
                <div align="right">
                    <button disabled="true" style="color: lightgray">Borrowed</button>
                </div>
            {% else %}
                    <div align="right">
                    {% if current_user.is_authenticated %}
                        <form method="post" action="/index">
                            <input type="hidden" value="{{ item.id }}" name="id"/>
                            <input type="submit" value="Borrow" name="borrow" style="color: black; background-color: lightgreen"/>
                        </form>
                    {%  else %}
                        <a href="{{ url_for('login')}}">
                            <button style="color: black; background-color: lightgreen">Borrow</button>
                        </a>
                    {%  endif %}
                    </div>
            {% endif %}
        </td>
    </tr>
</table>