{% extends "base.html" %}

{% block app_content %}
    <h1>Add items to database</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.author.label }}<br>
            {{ form.author(size=32) }}<br>
            {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.itemType.label }}<br>
            {{ form.itemType(size=2) }}<br>
            {% for error in form.itemType.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.not_borrowable() }} {{ form.not_borrowable.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}