{% extends "base.html" %}

{% block app_content %}
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">

    <table>
        <tr valign="top">
            <td>
                <h1>Welcome to the administration page</h1>
            </td>
        </tr>
    </table>
    <hr>

    <p>Find a user</p>
    <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input">
      <ul class="autocomplete-result-list"></ul>
    </div>
    <hr>

    <form action="" method="post" novalidate style="margin: 10px">
        {{ form.hidden_tag() }}
        <p>
            {{ form.user_status.label }}<br>
            {{ form.user_status(size=2) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    <hr>

    <div>
        {% for user in users %}
            <table class="table table-hover">
                <tr>
                    <td>
                        <p>Username : {{ user.username }}</p>
                        <br>
                        <p>E-mail : {{ user.email }}</p>
                        <br>
                        {% if user.excluded_until %}
                        <p style="color: red">Excluded until {{ user.excluded_until.strftime('%D') }}</p>
                        {% endif %}
                        <a href="{{ url_for('user_details', username=user.username) }}">Details</a>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>

    <script>
    var userList = JSON.parse('{{userList | tojson | safe}}');

    var users = [];
    userList.forEach(user => users.push(user))

    new Autocomplete('#autocomplete', {
      search: input => {
        if (input.length < 1) { return [] }
        var users1 = users.filter(title => {
          return title.toLowerCase()
            .startsWith(input.toLowerCase())
        });
        var users2 = [];
        if (input.length >= 3) {
            users2 = users.filter(title => {
                return (
                        title.toLowerCase()
                            .includes(input.toLowerCase())) &&
                    (!(title.toLowerCase()
                        .startsWith(input.toLowerCase())))
            });
        }
        return users1.concat(users2)
      },
      onSubmit: result => {
        if ( userList.indexOf(result) >= 0 ) {
            window.location.assign('user_details/' + `${result}`);
        }
      }
    })
    </script>
{% endblock %}
