{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Blue's Library{% else %}Welcome to Blue's Library{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Welcome to Blue's library </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Browse</a></li>
                    {% if current_user.is_anonymous %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        {% if current_user.username == 'admin' %}
                            <li><a href="{{ url_for('add_ref') }}">Add reference</a></li>
                            <li><a href="{{ url_for('admin') }}">Admin</a></li>
                        {% else %}
                            <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert-{{category}}" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}