{% extends "base.html" %}

{% block app_content %}
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">

    {% if current_user.is_authenticated %}
    <h1>Welcome back, {{ current_user.username }} !</h1>
    {% else %}
    <h1>Welcome !</h1>
    <div>
        <p><a href="{{ url_for('login') }}">Sign In</a> to borrow items.</p>
    </div>
    {% endif %}

    <p>Find a reference</p>
    <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input">
      <ul class="autocomplete-result-list"></ul>
    </div>

    <form action="" method="post" novalidate style="margin: 10px">
        {{ form.hidden_tag() }}
        <p>
            {{ form.itemType.label }}<br>
            {{ form.itemType(size=2) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    {% for item in items %}
        {% include '_item.html' %}
    {% endfor %}

    <script>
    var itemList = JSON.parse('{{itemList | tojson | safe}}');
    var authorList = JSON.parse('{{authorList | tojson | safe}}');

    var items = [];
    itemList.forEach(item => items.push(item))
    authorList.forEach(author => items.push(author))

    new Autocomplete('#autocomplete', {
      search: input => {
        if (input.length < 1) { return [] }
        var items1 = items.filter(title => {
          return title.toLowerCase()
            .startsWith(input.toLowerCase())
        });
        var items2 = [];
        if (input.length >= 3){
            items2 = items.filter(title => {
              return (
                title.toLowerCase()
                .includes(input.toLowerCase())) &&
                (!(title.toLowerCase()
                .startsWith(input.toLowerCase())))
            });
        }
        return items1.concat(items2)
      },
      onSubmit: result => {
        if ( itemList.indexOf(result) >= 0 ) {
            window.location.assign('item/' + `${result}`);
        }
        else if ( authorList.indexOf(result) >= 0 ) {
            window.location.assign('author/' + `${result}`);
        }
      }
    })
    </script>
{% endblock %}
