{% extends "base.html" %}

{% block app_content %}
    <h1>Reference Sheet</h1>

    <div>
        <p style="font-weight: bold">Title</p>
        <p>{{item.title}}</p>
    </div>
    <div>
        <p style="font-weight: bold">Type</p>
        <p>{{item.itemType}}</p>
    </div>
    <div>
        <p style="font-weight: bold">Author</p>
        <a href="{{ url_for('author', author=item.author) }}">{{item.author}}</a>
    </div>
    {% if item.not_borrowable %}
        <div align="right">
            <button disabled="true" style="color: lightgray">Not borrowable</button>
        </div>
    {% elif current_user.username == 'admin' or current_user.is_anonymous %}
        {% if item.is_available() %}
            <div align="right">
                <button disabled="true" style="background-color: lightgreen">Available</button>
            </div>
        {% else %}
            <div align="right">
                <button disabled="true" style="color: lightgray">Borrowed</button>
                {% if item_borrower and current_user.username == 'admin' %}
                    <p>By <a href="{{ url_for('user_details', username=item_borrower.username) }}">{{ item_borrower.username }}</a></p>
                {% endif %}
            </div>
        {% endif %}
    {% elif not current_user.sub_available() or current_user.excluded_until %}
        {% if item.is_available() %}
            <div align="right">
                <button disabled="true" style="color: lightgray">Borrow</button>
                <p>Subscribe again to borrow.</p>
            </div>
        {% else %}
            <div align="right">
                <button disabled="true" style="color: lightgray">Borrowed</button>
            </div>
        {% endif %}
    {% elif item.is_available() %}
        <div align="right">
            {% if current_user.is_authenticated %}
                <form method="post" action="/item/{{ item.title }}">
                    <input type="hidden" value="{{ item.id }}" name="id"/>
                    <input type="submit" value="Borrow" name="borrow" style="color:black; background-color:lightgreen"/>
                </form>
            {%  else %}
                <a href="{{ url_for('login')}}">
                    <button style="color:black; background-color:lightgreen">Borrow</button>
                </a>
            {%  endif %}
        </div>
    {% else%}
        <div align="right">
            <button disabled="true" style="color: lightgray">Borrowed</button>
            {% if item_borrow %}
                <p>Until {{ (item_borrow.date + item_borrow.max_borrow_time()).strftime('%D') }}</p>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
