{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            {% if user.last_seen %}<p>Last seen on : {{ user.last_seen }}</p>{% endif %}
            <td>
                <h1>Welcome to your profile, {{ user.username }} !</h1>
                <p>Tariff treatment : {{ user.status }}</p>
                {% if user.sub_available() and not user.excluded_until %}
                    <p>Your subscription is available until : {{ user.sub_available_until().strftime('%D') }}</p>
                {% elif user.excluded_until %}
                    <p>Your have been excluded because you stacked too much penalties.
                        You have to wait until {{ user.excluded_until.strftime('%D') }} to subscribe again.
                    </p>
                {% else %}
                    <p>Your subscription has expired. Please subscribe again.</p>
                    <form method="post" action="/user/{{ current_user.username }}" style="margin: 10px">
                        <input type="submit" value="Subscribe" name="subscribe"/>
                    </form>
                {% endif %}
                {% if total_penalty > 0 %}<p style="color: red">Total penalty : you owe {{ total_penalty }}$</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div>
        {% if borrowed_items %}
            <p style="font-weight: bold">Your borrowed items :</p>
            {% for item in borrowed_items %}
                <table class="table table-hover">
                    <tr>
                        <td>
                            <p>Title : <a href="{{ url_for('item', title=item['item'].title) }}">{{item['item'].title}}</a></p>
                            <p>Author : <a href="{{ url_for('author', author=item['item'].author) }}">{{item['item'].author}}</a></p>
                            <p>Type : {{item['item'].itemType}}</p>
                            {%  if item['borrow'].days_late() <= 0 %}
                                <p>Return before : {{ (item['borrow'].date + item['borrow'].max_borrow_time()).strftime('%D') }} ({{ - item['borrow'].days_late() }} days left)</p>
                            {% else %}
                                <p style="color: red">You are {{ item['borrow'].days_late() }} days late, please return as soon as possible.
                                {% if item['borrow'].penalty %}
                                     You must pay a {{ item['borrow'].penalty }}$ penalty.
                                {% endif %}
                                </p>
                            {% endif %}
                            <div align="right">
                                <form method="post" action="/user/{{ current_user.username }}">
                                    <input type="hidden" value="{{ item['item'].id }}" name="id"/>
                                    <input type="submit" value="Return" name="return"/>
                                </form>
                            </div>
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <p style="font-weight: bold">You haven't borrowed any items yet.</p>
        {% endif %}
    </div>
{% endblock %}
