{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr valign="top">
            <td>
                <h1>{{ user.username }}'s profile</h1>
                {% if user.last_seen %}<p>Last seen on : {{ user.last_seen }}</p>{% endif %}
                <p>Tariff treatment : {{ user.status }}</p>
                {% if user.sub_available() and not user.excluded_until %}
                    <p>Subscription available until : {{ user.sub_available_until().strftime('%D') }}</p>
                {% elif user.excluded_until %}
                    <p>{{ user.username }} has been excluded until {{ user.excluded_until.strftime('%D') }} for stacking too much penalties.
                    </p>
                {% else %}
                    <p>{{ user.username }} subscription has expired.</p>
                {% endif %}
                {% if total_penalty > 0 %}<p style="color: red">Total penalty : {{ total_penalty }}$</p>{% endif %}
            </td>
        </tr>
    </table>
    <hr>
    <div>
        {% if borrowed_items %}
            <p style="font-weight: bold">Borrowed items :</p>
            {% for item in borrowed_items %}
                <table class="table table-hover">
                    <tr>
                        <td>
                            <p>Title : <a href="{{ url_for('item', title=item['item'].title) }}">{{item['item'].title}}</a></p>
                            <p>Author : <a href="{{ url_for('author', author=item['item'].author) }}">{{item['item'].author}}</a></p>
                            <p>Type : {{item['item'].itemType}}</p>
                            {%  if item['borrow'].days_late() <= 0 %}
                                <p>Return date : {{ (item['borrow'].date + item['borrow'].max_borrow_time()).strftime('%D') }} ({{ - item['borrow'].days_late() }} days left)</p>
                            {% else %}
                                <p style="color: red">{{ item['borrow'].days_late() }} days late.
                                {% if item['borrow'].penalty %}
                                     {{ user.username }} owes a {{ item['borrow'].penalty }}$ penalty.
                                {% endif %}
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <p style="font-weight: bold">No borrowed items.</p>
        {% endif %}
    </div>
    <hr>
    <div>
        {% if old_borrowed_items %}
            <p style="font-weight: bold">Former borrowed items :</p>
            {% for item in old_borrowed_items %}
                <table class="table table-hover">
                    <tr>
                        <td>
                            <p>Title : <a href="{{ url_for('item', title=item['item'].title) }}">{{item['item'].title}}</a></p>
                            <p>Author : <a href="{{ url_for('author', author=item['item'].author) }}">{{item['item'].author}}</a></p>
                            <p>Type : {{item['item'].itemType}}</p>
                            <p>Borrow date : {{ item['borrow'].date.strftime('%D') }}</p>
                            <p>Return date : {{ item['borrow'].return_date.strftime('%D') }}</p>
                            {% if item['borrow'].penalty %}
                                 <p>{{ user.username }} has paid a {{ item['borrow'].penalty }}$ penalty.</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            {% endfor %}
        {% else %}
            <p style="font-weight: bold">No former borrowed items.</p>
        {% endif %}
    </div>
{% endblock %}
